<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Edit Data User</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a></li>
        <li><a href="/user">Data User</a></li>
        <li class="active">Edit Password</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-header header-line">
          <!-- Notifikasi -->
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="col-md-12">

              <!-- Start form -->
              <form role="form" action="/user/submit_edit_password" method="POST" enctype="multipart/form-data" class="validatedForm">
                <input type="hidden" class="form-control" id="" name="id_user" value="<%= data[0]['id_user'] %>">
                <div class="form-group">
                  <label>Username</label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="" name="" disabled value="<%= data[0]['username'] %>" placeholder="Nama">
                    </div>
                  </div>
                </div>

            
                <div class="form-group">
                  <label>Password Baru<br/><small></small></label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="password" class="form-control" id="pwd_baru" name="pwd">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Ulangi Password Baru<br/><small></small></label>
                  <div class="row">
                    <div class="col-md-6">
                      <input type="password" class="form-control" name="password_confirm" id="pwd_baru_rep">
                    </div>
                  </div>
                </div>

                
                <button type="submit" class="btn btn-primary btn-embossed">Rubah Password</button>
           

            </div>
          </div>         
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->
<script src="/javascripts/backoffice/validate.js"></script>
<script>
  $('.validatedForm').validate({
            rules : {
                pwd : {
                    minlength : 5
                },
                password_confirm : {
                    minlength : 5,
                    equalTo : "#pwd_baru"
                }
            }
          })
          // $('.validatedForm').submit(function(e){
          //   e.preventDefault();
          //   console.log($('.validatedForm').valid()); 
          // })
          
</script>
<% include ../../template-backoffice/footer.ejs %>