<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Data Piutang Siswa</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a>
        </li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-header header-line">
           <a class="btn btn-primary btn-embossed" href="/manajemen_jatuh_tempo/insert" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Tambah Data</a>
        </div>
        <div class="panel-content pagination2">
          <table class="table table-bordered table-striped table-hover" id="data">
            <thead>
              <tr>
                <th class="header">No.</th>
                <th class="header">Sekolah</th>
                <th class="header">Nama</th>
                <th class="header">NIPD</th>
                <th class="header">NISN</th>
                <th class="header">Option</th>
              </tr>
            </thead>
            
            <tbody>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>

<script type="text/javascript">
  $(document).ready(function() {
    var t  =  $('#data').DataTable({
      "language": {
        "sProcessing":   '<span>Sedang memproses...</span><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>',
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data, silahkan pilih Kab/kota",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
  
      "processing": true,
           "ajax": "/manajemen_jatuh_tempo/list_json/",
           "columns": [
               { "data": null},
              //  { "data": "jenis"},
               { "data": "sekolah"},
               { "data": "nama"},
               { "data": "nipd"},
               { "data": "nisn"},
              //  { "data": "hargaSurvey", render: function(data){
              //   //  console.log(data)
              //   let text ="<ul>";
              //     data.forEach(function(item){
              //       text+=`<li>${item.nama_toko} : ${item.harga}</li>`
              //     })
              //     text+="</ul>"
              //    return text;
              //  }},
               { "data": null, render: function(data){
                if(data.jmlReserved){

                  return `<center><a href="#" class="reserved btn btn-primary btn-embossed" id_reserved="${data.id}">Detail</a></center>`;
                }else{
                  return ``;
                }
               }},
              
         ],
        //  'rowsGroup': [1],
      //    'createdRow': function(row, data, dataIndex){
      //    // Use empty value in the "Office" column
      //    // as an indication that grouping with COLSPAN is needed
      //    if(data[1] === ''){
      //       // Add COLSPAN attribute
      //       $('td:eq(0)', row).attr('colspan', 5);

      //       // Hide required number of columns
      //       // next to the cell with COLSPAN attribute
      //       $('td:eq(1)', row).css('display', 'none');
      //       $('td:eq(2)', row).css('display', 'none');
      //       $('td:eq(3)', row).css('display', 'none');
      
      //    }
      // },
         "deferRender": true,
         // "ordering": false,
        //  "columnDefs": [
        //      { "width": "3%" },
        //      { "width": "20%" },
        //      { "width": "24%" },
        //      { "width": "10%" },
        //      { "width": "20%" },
        //      { "width": "20%" },
    
        //      { "width": "20%" }
        //   ],
         "fnRowCallback": function( row, data, iDisplayIndex ) {
                   var index = iDisplayIndex +1;
                   $('td:eq(0)',row).html(index);
                   return row;
         },
    //   "columnDefs": [
    //       { "width": "100px", "targets": 14}
    //   ],
    });

  //   $('#id_kab').change(function(){
   
   
  //   t.ajax.url( `/manajemen_master/pekerjaan/list_json/${$('#id_kab').val()}` ).load();

  // })

 



      $('#data').on('click', '.reserved', function(e) {
          // console.log($(this).attr('id_standar_harga'));
          if($(this).length>1){
            $(this).popover('hide');
          }
          $.getJSON( "/manajemen_jatuh_tempo/detail_reserved/"+$(this).attr('id_reserved'), function( data ) {
            console.log(data)
            $('.reserved').popover({
                        "html": true,
                        trigger: 'manual',
                        placement: 'left',
                        "content": function () {
                          let text ="<table class='table table-bordered'><thead><tr><th style='width:120px;text-align:center'>Kelas (Tahun Ajaran)</th><th style='text-align:center'>Option</th></tr></thead>";
                  data.data.forEach(function(item){
                    text+=`<tr><td>${item.kelas} (${item.tahun_ajaran})</td>  <td><ul class="list-inline"><li><a href="/manajemen_jatuh_tempo/edit/${item.id}" class="btn btn-warning btn-sm btn-embossed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li><li><a href="/manajemen_jatuh_tempo/delete/${item.id}" class="btn btn-danger btn-sm btn-embossed"><i class="fa fa-trash-o" aria-hidden="true"></i></a></li></ul></td></tr>`
                  })
                  text+="</table>"
                 return text;
                        }
                    })

            $(e.target).popover('toggle');
          })

         
      })


      // $('#data').on('click', function(e) {
      //     // console.log($(this).attr('id_standar_harga'));
      //     if($(this).length>1)
      //       $(this).popover('hide');
      //      $(e.target).popover('toggle');
       

         
      // })

      
  });
</script>