<% include ../../template-backoffice/header.ejs %>

<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="header">
    <h2><strong>Detail Pengajuan Approval (Pengeluaran)</strong></h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li><a href="/backoffice">Dashboard</a>
        </li>
        <li class="active">Data</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel">
        <div class="panel-content ">
          <form role="form" id="forme" class="form-horizontal">
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Akun</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="kode_akun" data-search="true">
                      <option value="">-- Pilih --</option>
                            
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Objek</label>
                  <div class="col-sm-9">
                    <select class="form-control" name="id_objek" data-search="true">
                      <option value="">-- Pilih --</option>
                      
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Keterangan</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="keterangan">
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-6">
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">id</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="no_id">
                  </div>
                </div>

                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Tanggal</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control tgl" name="tgl" id="tgl1">
                  </div>
                </div>
                <div class="form-group">
                  <label for="" class="col-sm-3 control-label" style="text-align: left;">Nominal</label>
                  <div class="col-sm-9">
                    <input type="number" class="form-control" name="nominal" id="nominal">
                  </div>
                </div>
              </div>
            </div>

            
              

            <div class="row">
              <div class="col-md-12 col-lg-12" style="margin-left: 0;">
                <hr>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12 col-lg-12" style="margin-left: 0;">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 200px;">Akun</th>
                      
                      <th>Jumlah</th>
                      <th>Catatan</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>

                    <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>

                    <tr>
                      <td>-</td>
                      <td>-</td>
                      <td>-</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="col-md-12 col-lg-12" style="margin-left: 0;">
                <button type="button" class="btn btn-primary btn-embossed" onclick="simpan()">Simpan</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>  
  </div>
  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2021 </span>
        <span>Yayasan BAJ Keluarga H.M Sulchan</span>.
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT -->

<% include ../../template-backoffice/footer.ejs %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#data').DataTable({
      "language": {
          "sProcessing":   "Sedang memproses...",
          "sLengthMenu":   "_MENU_",
          "sZeroRecords":  "Tidak ditemukan data yang sesuai",
          "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
          "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
          "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
          "sInfoPostFix":  "",
          "sUrl":          "",
          "oPaginate": {
            "sFirst":    "Pertama",
            "sPrevious": "Sebelumnya",
            "sNext":     "Selanjutnya",
            "sLast":     "Terakhir"
          }
      },
      "columnDefs": [
          { "width": "100px", "targets": 4}
      ],
    });
  });
</script>